@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    margin: 0;
  }

.hero-wrapper {
    background-image: url("../sigiriya.jpg");
    background-size: cover;
    height: 1100px;
    width: 100%;
    /* overflow: hidden; */
  
    /* position: relative;
    width: 100%;
    height: 900px;  */
  }

/* div {
    background-color: none;
  } */
 
.logo {
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    color: white;
    margin: 0;
    position: relative;
    left: 50px;
    top: 30px;

}

/* .nav-bar {
    display: grid;
    grid-template-columns: 10% 70% 5% 15%;
    height: 75px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
} */


.nav-links{
    position: relative;
    top: 100px;



}
.main-topic {
    position: relative;
    top: 570px ;
    margin:  auto; 
    text-align: center;   
    color: white;
    
}

.trav {
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    margin: 0;
   
}

.sri {
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 98px;
    font-weight: 500;
}
    
